/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}
.cd-top {
  height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	}
