$icons: (
	  sprite: (width: 3648px, height: 3472px, pngPath: '../html/assets/img/sprite.png', svgPath: '../html/assets/img/sprite.svg'),
 	after: (width: 122px, height: 88.1px, backgroundX: 0px, backgroundY: 0px),
 	bouche: (width: 56px, height: 56px, backgroundX: -132px, backgroundY: -99px),
 	certif: (width: 83.9px, height: 76.3px, backgroundX: -198px, backgroundY: -165px),
 	dessert: (width: 56px, height: 56px, backgroundX: -292px, backgroundY: -252px),
 	echallens: (width: 100px, height: 49.3px, backgroundX: -358px, backgroundY: -318px),
 	entree: (width: 56px, height: 56px, backgroundX: -468px, backgroundY: -378px),
 	facebook: (width: 112.2px, height: 112.2px, backgroundX: -534px, backgroundY: -444px),
 	glass: (width: 55.099999999999994px, height: 94.1px, backgroundX: -657px, backgroundY: -567px),
 	googleplus: (width: 112.2px, height: 112.2px, backgroundX: -723px, backgroundY: -672px),
 	hand: (width: 100px, height: 125px, backgroundX: -846px, backgroundY: -795px),
 	instagram: (width: 112.2px, height: 112.2px, backgroundX: -956px, backgroundY: -930px),
 	john: (width: 588.2px, height: 588.2px, backgroundX: -1079px, backgroundY: -1053px),
 	linkedin: (width: 112.2px, height: 112.2px, backgroundX: -1678px, backgroundY: -1652px),
 	loco: (width: 83.9px, height: 76.3px, backgroundX: -1801px, backgroundY: -1775px),
 	logosnow: (width: 96.8px, height: 101px, backgroundX: -1895px, backgroundY: -1862px),
 	media: (width: 83.9px, height: 76.3px, backgroundX: -2002px, backgroundY: -1973px),
 	pinterest: (width: 112.2px, height: 112.2px, backgroundX: -2096px, backgroundY: -2060px),
 	principal: (width: 56px, height: 56px, backgroundX: -2219px, backgroundY: -2183px),
 	quote: (width: 54.31px, height: 35.36px, backgroundX: -2285px, backgroundY: -2249px),
 	quote1: (width: 54.31px, height: 35.36px, backgroundX: -2350px, backgroundY: -2295px),
 	repas: (width: 83.9px, height: 76.3px, backgroundX: -2415px, backgroundY: -2341px),
 	rond: (width: 254.60000000000002px, height: 256.3px, backgroundX: -2509px, backgroundY: -2428px),
 	sante: (width: 145.52px, height: 105.33px, backgroundX: -2774px, backgroundY: -2695px),
 	share: (width: 83.9px, height: 76.3px, backgroundX: -2930px, backgroundY: -2811px),
 	sopnsor: (width: 100px, height: 100px, backgroundX: -3024px, backgroundY: -2898px),
 	soundcloud: (width: 112.2px, height: 112.2px, backgroundX: -3134px, backgroundY: -3008px),
 	tasting: (width: 83.9px, height: 76.3px, backgroundX: -3257px, backgroundY: -3131px),
 	twitter: (width: 112.2px, height: 112.2px, backgroundX: -3351px, backgroundY: -3218px),
 	twitterHover: (width: 32px, height: 22px, backgroundX: -3474px, backgroundY: -3341px),
 	zik: (width: 122px, height: 88.1px, backgroundX: -3516px, backgroundY: -3373px),
);
